@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: white;
  background-color: rgb(8, 175, 8);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 1s;
}
